*{
	box-sizing: border-box;
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	background: #807c7e url(../img/background.jpg) center center no-repeat fixed;
	background-size: cover;
}

.clearfix:before, .clearfix:after{
	display: table;
	content: "";
}
.clearfix:after{
	clear: both;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

h1, h2, h3{
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
}

h1{
	font-size: 120px;
	letter-spacing: 10px;
	margin-bottom: 10px;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 20px;
}

b.lead{
	font-size: 26px;
}

header{
	margin-bottom: 190px;
}

.logo{
	float: left;
}

nav{	
	float: right;
}

.menu{
	position: relative;
	z-index: 100;
	width: 70px;
	height: 70px;
	background-color: #352d2f;
    padding-top: 28px;
}

.icon_bar{
	margin: 0 auto 3px;
	display: block;
	width: 24px;
	height: 2px;
	background-color: #fff;
}

.navigation{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(246, 60, 60, 0.9);
}

.navigation ul.mainmenu{
	margin: 0 auto;
}

.navigation li{
	display: inline-block;
	margin-right: 50px;
	vertical-align: top;
}

.navigation li a{
	font-family: 'Teko', sans-serif;
	font-size: 60px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

.navigation .submenu li{
	display: block;
}

.navigation .submenu li a{
	opacity: 0.7;
	font-size: 24px;
	font-weight: 300;	
}

main{
	width: 690px;
}

main header{
	margin-bottom: 30px;
}

p{
	color: #c6c4c5;
	line-height: 1.2;
}

.connected{
	margin-top: 58px;
}

.connected h2{
	font-size: 30px;
	letter-spacing: 3px;
	margin-bottom: 30px;
}

.connected p{
	color: #c6c4c5;
	font-size: 18px;
	margin-bottom: 30px;
}

input{
	height: 50px;
	width: 350px;
	margin-bottom: 30px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding-left: 16px;
	color: #747474;
}

button{
	background-color: #f63c3c;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 120px;
	height: 50px;
	border-style: none;
	margin-bottom: 30px;
	font-family: 'Teko', sans-serif;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 2px;
	vertical-align: top;
}

aside i{
	margin-right: 22px;
}

aside h3{
	margin-bottom: 15px;
	font-size: 20px;
	letter-spacing: 1.5px;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
}

aside article{
	margin-bottom: 145px;
	margin-left: 45px;	
}

aside article p{
	margin-bottom: 20px;
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	width: 265px;
}

article time {
	font-size: 16px;
	text-transform: uppercase;
	color: #828082;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
}

footer {
	font-family: "Titillium Web", sans-serif;
	font-size: 13px;
	color: #828082;
	padding-bottom: 30px;
}

footer a{
	font-family: "Titillium Web", sans-serif;
	font-size: 13px;
	color: #828082;
	text-decoration: none;
}

footer small {
	float: left;
}

footer small a {
	color: #FFFFFF;
	font-family: "Titillium Web", sans-serif;
	font-size: 13px;
}

footer ul{
	float: right;
}

footer li{
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	padding-left: 20px;
}










































